{% extends "::base.html.twig" %}
{% block title %}Profil{% endblock title %}
{% block breadcrumb %}
<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li>Profil</li>
</ol>
{% endblock breadcrumb %}

{% block mainContainer %}
	<h3>Profil utilisateur</h3>
	<div class="row">
		<div class="col-sm-4">
			<a href="{{path('fos_user_profile_show')}}" class="list-group-item">Profile</a>
  			<a href="{{path('fos_user_profile_edit')}}" class="list-group-item">Changer profile</a>
  			<a href="{{path('fos_user_change_password')}}" class="list-group-item">Changer le mot de passe</a>
		</div>
		<div class ="well col-sm-6">
			{% include "FOSUserBundle:Profile:show_content.html.twig" %}
		</div>
	</div>
{% endblock mainContainer %}

