<div ng-controller="QcmCtrl">
  <div>
    <h1>Question</h1>
    <h3>{[{exerciseData.subject}]}</h3>
  </div>
  <div>
    <form>
      <div class="checkbox" ng-repeat="answer in exerciseData.answers">
        <input type="radio" name="answer" ng-click="oneAnswer($index)"/> {[{answer}]}
      </div>
    </form>
    <p>{[{answerValue}]}</p>
    <button ng-disabled="isRightAnswer" ng-click="checkAnswers(answers)" class="btn btn-default">vérifier</button>

    <a href="{[{nextExerciseUrl}]}"><button ng-disabled="!isRightAnswer" class="btn btn-default">Suivant</button></a>
  </div>
</div>
