{% extends "::base.html.twig" %}

{% block title 'Administration' %}

{% block mainContainer %}
<ul>
  <li><a href="{{path('ath_administration_users')}}">Gestion des utilisateurs</a></li>
  <li><a href="{{path('ath_administration_users')}}">test</a></li>
  <li><a href="{{path('ath_administration_users')}}">test</a></li>
</ul>
{% endblock mainContainer %}
