<div ng-controller="HangmanCtrl">
  test hangman
{[{hidden_subject}]}
  <div>
    <h1>Jeu de pendu</h1>
    <h3>{[{hidden_subject}]}</h3>
  </div>
  <div>
    <form>
      <input type="text" ng-model="answer" />
    </form>
    <p>{[{answerValue}]}</p>
    <button ng-disabled="isRightAnswer" ng-click="checkAnswers(answer)" class="btn btn-default">vérifier</button>

    <a href="{[{nextExerciseUrl}]}"><button ng-disabled="!isRightAnswer" class="btn btn-default">Suivant</button></a>
  </div>
</div>
